.grid-container{
    display: grid;

    grid-template-areas:
    "nav nav nav"
    "... logo ..."
    "... form ..."
    "... bottom-text ..."
    "foot foot foot";

    grid-template-columns: 25% 50% 25%;
    height: 100vh;
}

.nav-div{
  
    grid-area: nav;

  
}

nav{
    display: flex;
    
    
    justify-content: space-between;
}

ul{
    display:flex;
    flex-direction: row;
    align-items: center;
}

li{
    flex: 0 1 auto;
    padding: 1em;
    list-style-type: none;
}

a:hover {
    text-decoration: underline;
   
}
a{
    text-decoration: none;
}

#google-grid{
    height: 20px;
    width: 20px;
}

#google-user{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.logo-div{
    grid-area: logo;
    margin: 0 auto;
}
#logo-img{
    padding-top: 47px;
}

.form-div{
    grid-area: form;
    display: flex;
    justify-content: center;
}

.bottom-text{
    grid-area: bottom-text;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin-image{
    height:50px;
}

.footer-div{
    grid-area: foot;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: space-between;

}


body{
    font-family: arial, sans-serif;
    font-size: 14px;
}

#text-area{
    border-radius: 24px;
    height: 44px;
    box-shadow: none;
    width: 582px;
    border: 1px solid #dfe1e5;
    text-indent: 50px;
    background-color: #fff;

}
#search-div{
    position: relative;
}

#search-icon{
    position: absolute;
   top: 14px;
   left: 21px;
    font-size: 20px;
    color: #9aa0a6;
}

#button-div{
    display: flex;
    justify-content: center;
    margin:32px;
}

.form-button{
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    padding:0 16px;
    color: #5F6368;
    
}

#search-button{
    margin-right: 4px;

}

#lucky-button{
    margin-left: 4px;
}

